archive/
Archive/
Distributions/
*.mch
*.MCH
*.o
*.O
*.err
*.ERR
*.hex
*.HEX
*.lst
*.LST
*.map
*.MAP
*.cof
*.COF
*.out
*.OUT
*.paf
*.paf2
*.sbl
*.sbl
*.lkf
*.lkv
*.log
*.obj
CapulinUT1-0/Debug/
CapulinUT1-0/CapulinUT.CS_/
